@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto+Mono:wght@200&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

.container ul {
  padding: 0px;
  padding-top: 15px;
}

main {
  display: flex;
  flex-direction: column;
}



header {
  background-color: black;
  display: flex;
  flex-direction: column;
}

header img {
  width: 100%;
}

ul {
  list-style-type: none;
  font-family: 'Fira Sans', sans-serif;
}

ul a, .container a {
  color: green;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 0px;
  padding-top: 15px;
}

nav ul a {
  color: white !important;
  text-decoration: none;
}

nav ul a:active, a:hover {
  color: yellowgreen !important;
}

article li {
  list-style-type: none;
}
